/* === HEADER STRUCTURE === */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background-color: #76000d;
  color: #dcccba;
  position: relative;
  z-index: 100;

}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 50;
}

.left_header {
  font-family: "PFDinTextCompPro", monospace;
  font-size: 40px;
  cursor: pointer;
}

/* === RIGHT PART (desktop) === */
.right_header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.support {
  background-color: #76000d;
  color: #dcccba;
  border: 2px solid #dcccba;
  border-radius: 8px;
  padding: 8px 12px;
  font-family: "PFDinTextCompPro", monospace;
  font-size: 21px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.support:hover {
  background-color: #dcccba;
  color: #76000d;
}

/* === BURGER MENU === */
.burger {
  display: none;
  font-size: 40px;
  cursor: pointer;
  color: #dcccba;
}

/* === MOBILE MENU === */
.mobile-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0px;
  background-color: #171717;
  border: 2px solid #dcccba;
  border-radius: 8px;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
  z-index: 999;
}

/* === CUSTOM SELECT === */
.custom-select-wrapper {
  position: relative;
  width: 120px;
  font-family: "PFDinTextCompPro", monospace;
  font-weight: 500;
  font-size: 21px;
  user-select: none;
}

.custom-select {
  background-color: #76000d;
  color: #dcccba;
  padding: 8px 12px;
  border: 2px solid #dcccba;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-select:hover {
  background-color: #dcccba;
  color: #76000d;
}

.arrow {
  width: 0;
  height: 0;
  margin-left: 8px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #dcccba;
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.custom-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 4px;
  background-color: #171717;
  border: 2px solid #dcccba;
  border-radius: 8px;
  list-style: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.custom-options li {
  padding: 8px 12px;
  color: #dcccba;
  cursor: pointer;
}

.custom-options li:hover {
  background-color: #76000d;
  color: #dcccba;
}

/* === RESPONSIVE === */
@media (max-width: 768px) {
  .right_header {
    display: none;
  }

  .burger {
    display: block;
  }

  .mobile-menu {
    display: flex;
    width: 200px;
  }

  .custom-select-wrapper {
    width: 100%;
    font-size: 18px;
  }

  .custom-select {
    font-size: 18px;
  }

  .custom-options li {
    font-size: 18px;
  }

  .support {
    width: 100%;
    font-size: 18px;
  }
}